@import url("Inter Web/inter.css");


:root {
	--black: #1b1f23;
	--white: #ffffff;

	--gray-000: #fafbfc;
	--gray-100: #f6f8fa;
	--gray-200: #e1e4e8;
	--gray-300: #d1d5da;
	--gray-400: #959da5;
	--gray-500: #6a737d;
	--gray-600: #586069;
	--gray-700: #444d56;
	--gray-800: #2f363d;
	--gray-900: #24292e;

	--blue-000:#f1f8ff;
	--blue-100:#dbedff;
	--blue-200:#c8e1ff;
	--blue-300:#79b8ff;
	--blue-400:#2188ff;
	--blue-500:#0366d6;
	--blue-600:#005cc5;
	--blue-700:#044289;
	--blue-800:#032f62;
	--blue-900:#05264c;

	--selection-light: #ffe9b4;
	--selection-dark: #8189ae;

	/* Default (light) theme */
	--text-font: 'Inter', sans-serif;
	--text-monospace-font: monospace, 'Cascadia Code PL';
	--text-background-color: var(--gray-100);
	--text-color: var(--gray-900);
	--text-title-color: var(--blue-800);
	--text-heading-color: var(--blue-600);
	--text-heading-border-color: var(--gray-500);
	--text-code-color: var(--gray-700);
	--text-code-background-color: var(--gray-200);
	--text-footer-color: var(--gray-400);
	--text-footer-background-color: var(--gray-500);
	--text-link-color: var(--blue-400);
	--text-link-color-hover: var(--blue-500);

	--table-border-color: var(--gray-500);

	--selection-color: var(--selection-light);
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--text-background-color: var(--gray-900);
		--text-color: var(--gray-100);
		--text-title-color: var(--blue-300);
		--text-heading-color: var(--blue-200);
		--text-heading-border-color: var(--blue-900);
		--text-code-color: var(--gray-200);
		--text-code-background-color: var(--gray-800);
		
		--text-link-color-hover: var(--blue-300);
		--table-border-color: var(--gray-100);

		--selection-background-color: var(--selection-dark);
	}
}

/* paper medium */
@media print {
	:root {
		font-size: 85%;
	}
	.pagebreak {
		break-after: always;
	}
}

@supports (font-variation-settings: normal) {
	:root {
		--text-font: 'Inter', 'Inter var', 'Inter var experimental', sans-serif;
	}
}

body {
	letter-spacing: normal;
	text-rendering: optimizeLegibility;
	background-color: var(--text-background-color);
	font-family: var(--text-font);
	color: var(--text-color);

	margin: auto;
	padding-right: 2em;
	padding-left: 2em;
}

pre {
	color: var(--text-code-color);
	background-color: var(--text-code-background-color);
}

code {
	font-family: var(--text-monospace-font);
}

h1, h2, h3, h4, h5 {
	font-family: verdana;
	font-weight: bold;
	border-bottom: 1px dotted var(--text-heading-border-color);
	color: var(--text-heading-color);
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 110%;
	font-style: italic;
}

h5 {
	font-size: 100%;
	font-style: italic;
}

h6 {
	font-size: 100%;
	font-style: italic;
	font-weight: bold;
}

h1.title {
	color: var(--text-title-color);
	font-size: 200%;
	font-weight: bold;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: left;
	border: none;
}

a {
	color: var(--text-link-color);
}

a:hover {
	color: var(--text-link-color-hover);
}

.text-center {
	text-align: center;
}

#footer {
	padding-top: 1em;
	font-size: 70%;
	color: var(--text-footer-color);
	text-align: center;
}

.feature-emoji {
	border-collapse: collapse;
	border-spacing: 0;
	border-style: solid;
	border-width: 1px;
	border-color: var(--table-border-color);
	overflow: auto;
	font-weight: normal;
}
.feature-emoji-cell {
	overflow: hidden;
	word-break: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	padding: 8px 8px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--table-border-color);
}
