
:root {
	/* Default (light) theme */
	--del-text-color: rgb(255, 25, 25);
	--del-text-background-color: rgb(255, 175, 175);
	--ins-text-color: rgb(10, 180, 35);
	--ins-text-background-color: rgb(175, 250, 190);
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--del-text-color: rgb(255, 52, 52);
		--del-text-background-color: rgb(82, 25, 25);
		--ins-text-color: rgb(140, 255, 140);
		--ins-text-background-color: rgb(25, 82, 25);
	}
}

@media print {
	.pagebreak { break-after: always }
}

.tg  {
	border-collapse: collapse;
	border-spacing:0;
}

.tg td{
	padding:10px 10px;
	border-style: solid;
	border-width:1px;
	overflow: hidden;
	word-break: normal;
	border-color: var(--table-border-color, inherit);
}
.tg th{
	font-weight: normal;
	padding: 10px 10px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: black;
}
.tg .tg-c3ow { 
	border-color: inherit;
	text-align: center;
	vertical-align: top
}

.ins, ins, ins p, ins div, span.ins, span.ins * {
	background-color: var(--ins-text-background-color);
	background: var(--ins-text-background-color);
	color: var(--ins-text-color);
}

ins * {
	text-decoration: underline;
	text-decoration-color: var(--ins-text-color);
}

.del, del, del p, del div, span.del, span.del * {
	background-color: var(--del-text-background-color);
	background: var(--del-text-background-color);
	color: var(--del-text-color);
}

del * {
	text-decoration: line-through;
	text-decoration-color: var(--del-text-color);
}

code.c-kw {
	font-weight: bold;
}

math, span.math {
	font-family: serif;
	font-style: italic;
}

ul {
	list-style-type: "— ";
}

div.wording-section-header {
	display: block;
	border-top: 5px solid #969696;
	background-color: #76db95;
	height: 30px;
	line-height: 30px;
	padding: 4px 6px;
	font-size: 16px;
	color: #000000;
	margin-bottom: 13px;
	clear: both;
}

.clause-title {
	float: left;
}

.stable-tag {
	float: right;
}

div.wording-section {
	counter-reset: wording-paragraph;
}

div.wording-numbered-0 {
	counter-reset: wording-paragraph -1;
}

div.wording-numbered-1 {
	counter-reset: wording-paragraph 0;
}

div.wording-numbered-2 {
	counter-reset: wording-paragraph 1;
}

div.wording-numbered-3 {
	counter-reset: wording-paragraph 2;
}

div.wording-numbered-4 {
	counter-reset: wording-paragraph 3;
}

div.wording-numbered-5 {
	counter-reset: wording-paragraph 4;
}

div.wording-numbered-6 {
	counter-reset: wording-paragraph 5;
}

div.wording-numbered-7 {
	counter-reset: wording-paragraph 6;
}

div.wording-numbered-8 {
	counter-reset: wording-paragraph 7;
}

div.wording-numbered-9 {
	counter-reset: wording-paragraph 8;
}

div.wording-numbered-10 {
	counter-reset: wording-paragraph 9;
}

div.wording-numbered-11 {
	counter-reset: wording-paragraph 10;
}

div.wording-numbered-12 {
	counter-reset: wording-paragraph 11;
}

div.wording-numbered-13 {
	counter-reset: wording-paragraph 12;
}

div.wording-numbered-14 {
	counter-reset: wording-paragraph 13;
}

div.wording-numbered-15 {
	counter-reset: wording-paragraph 14;
}

div.wording-numbered-16 {
	counter-reset: wording-paragraph 15;
}

div.wording-numbered-17 {
	counter-reset: wording-paragraph 16;
}

div.wording-numbered-18 {
	counter-reset: wording-paragraph 17;
}

div.wording-numbered-19 {
	counter-reset: wording-paragraph 18;
}

div.wording-numbered-20 {
	counter-reset: wording-paragraph 19;
}

div.wording-numbered, div.wording-newnumbered {
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.wording-numbered:before, div.wording-newnumbered:before {
	position: absolute;
	margin-left: -2em;
	display: block;
}

div.wording-numbered:before {
	content: counter(wording-paragraph);
	counter-increment: wording-paragraph;
}

div.wording-newnumbered:before {
	content: "�";
}

div.wording-numbered ul, div.wording-newnumbered ul {
	counter-reset: wording-list-item;
}

div.wording-numbered li, div.wording-newnumbered li {
	margin-left: 3em;
}

div.wording-numbered li:before, div.wording-newnumbered li:before {
	position: absolute;
	margin-left: -4.8em;
	display-style: block;
}

div.wording-numbered li:before {
	content: "(" counter(wording-paragraph) "." counter(wording-list-item) ")";
	counter-increment: wording-list-item;
}

div.wording-newnumbered li:before {
	content: "(�." counter(wording-list-item) ")";
	counter-increment: wording-list-item;
}

div.wording-numbered li.c-list:before, div.wording-newnumbered li.c-list:before {
	content: "";
	counter-increment: wording-list-item;
}
